h1 {
  color: maroon;
}
.post {
  background-color: rgb(65, 65, 3);
}
.user {
  color: darkolivegreen;
  font-style: italic;
  font-weight: 700;
}
.post {
  color: rgb(43, 30, 3);
  background-color: rgb(227, 234, 227);
}
